@model IEnumerable<NewsAllViewModel>

@{
    ViewData["Title"] = "All News";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

@if (!Model.Any())
{
    <h2 class="text-center">No news found for displaying!</h2>
}
else
{
    @foreach (var news in Model)
    {
        <partial name="_AllNewsListPartial" model="news" />
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}