@model NewsAddFormModel

@{
    ViewData["Title"] = "Edit News";
}

<h2 class="text-center">@ViewData["Title"]</h2>

<partial name="_NewsFormPartial" model"@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
