@model IEnumerable<NewsAllViewModel>

@{
    ViewData["Title"] = "My Posted News";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

@if (!Model.Any())
{
    <h2 class="text-center">You don't have any posted news yet!</h2>
}
else
{

    @foreach (var news in Model)
    {
        <partial name="_AllNewsListPartial" model="news" />
    }


}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
