@using static GamesNexus.Common.GeneralApplicationConstants

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GamesNexus.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GamesNexus.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Games Nexus</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="gamesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Games
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="gamesDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Game" asp-action="All">All Games</a></li>
                                @if (this.User.Identity?.IsAuthenticated ?? false)
                                {
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Game" asp-action="Add">Add Game</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Game" asp-action="Mine">My Published Games</a></li>
                                }
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="newsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                News
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="newsDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-controller="News" asp-action="All">All News</a></li>
                                @if (this.User.Identity?.IsAuthenticated ?? false)
                                {
                                    <li><a class="dropdown-item" asp-area="" asp-controller="News" asp-action="Add">Add News</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="News" asp-action="Mine">My News</a></li>
                                }
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="newsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Community Space
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="newsDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Discussion" asp-action="All">Discussion</a></li>
                                @if (this.User.Identity?.IsAuthenticated ?? false)
                                {
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Discussion" asp-action="Add">Add New Discussion</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Discussion" asp-action="Mine">My Discussions</a></li>
                                }
                            </ul>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; Games Nexus @ReleaseYear
            @if (DateTime.UtcNow.Year != ReleaseYear)
            {
                @Html.Raw($" - {DateTime.UtcNow.Year}");
            }
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>



