@model GameAddFromModel

@{
    ViewData["Title"] = "Add Game";
}

<h2 class="text-center">@ViewData["Title"]</h2>

<partial name="_GameFormPartial" model"@Model"/>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}
