@using GamesNexus.Web.Infrastructure.MIddlewares;

@model IEnumerable<UserViewModel>
@{
    ViewBag.Title = "All Users";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<table class="table table-striped">
    <thead>
        <tr>
            <th><label>Username</label></th>
            <th><label>Full Name</label></th>
            <th><label>Business Email</label></th>
            <th><label>User Is Publisher</label></th>
            <th><label>User is Online</label></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td><label>@user.Username</label></td>
                <td><label>@user.FullName</label></td>
                <td><label>@user.BusinessEmail</label></td>
                <td>
                    @if (!string.IsNullOrEmpty(user.BusinessEmail))
                    {
                        <label>✔</label>
                    }
                    else
                    {
                        <label class="text-center">❌</label>
                    }
                </td>
                <td>
                    @if (OnlineUsersMiddleware.CheckIfUserIsOnline(user.Id))
                    {
                        <label>✔</label>
                    }
                    else
                    {
                        <label class="text-center">❌</label>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
